/*----------------------------------------------------------------------------
    Generic
----------------------------------------------------------------------------*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

body {
    font: normal 1.125rem/160% "Roboto", sans-serif;
    font-optical-sizing: auto;

    background-color: #fff;
    color: #fff;
}

/*------------------------------------------------------------------------------
   Mise en page
------------------------------------------------------------------------------*/

.wrapper{
    max-width: 1170px;
    margin: 0 auto;
}

/*------------------------------------------------------------------------------
   Element/typographie
------------------------------------------------------------------------------*/

h1{
    font: bold 4rem/110% "Raleway", sans-serif;
    font-optical-sizing: auto;
    text-transform: uppercase;

    color: #D300B7;

    margin: 0;
}

h2{
    font: bold 3rem/110% "Raleway", sans-serif;
    font-optical-sizing: auto;
    text-transform: uppercase;

    margin: 0;
    padding-bottom: 20px;
}

h3{
    font: bold 2rem/110% "Raleway", sans-serif;
    font-optical-sizing: auto;
    text-transform: uppercase;

    color: #D300B7;

    margin: 0;
}

p{
    margin: 0;
}

a{
    text-decoration: none;

    font: bold 1.125rem "Raleway", sans-serif;
    font-optical-sizing: auto;
    text-transform: uppercase;
}

button{
    font: bold 1.125rem/100% "Raleway", sans-serif;
    font-optical-sizing: auto;
    text-transform: uppercase;

    background-color: transparent;
    color: #D300B7;
    border: 4px solid #D300B7;
    border-radius: 50vh;

    padding: 10px 30px;

    cursor: pointer;
}

button:hover{
    color: #fff;
    background-color: #D300B7;
}

/*------------------------------------------------------------------------------
   Components
------------------------------------------------------------------------------*/

/*HEADER*/

.header{
    background-color: #fff;
    padding: 21px 0;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

.header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    font-weight: 900; 
    font-size: 1.75rem;
}

.header a{
    color: #000;
}

.header .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    padding: 0;
    margin: 0;

    list-style: none;
}

.header .menu a:hover{
    color: #D300B7;
}

/*HERO*/

.hero{
    background: url(../images/hero_velos.jpg) no-repeat center/cover;
    min-height: 650px;

    margin-top: 88px;
}

.hero .wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 650px;
}

.hero .conteneur{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 20px;

    width: 50%;
    height: 427px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero .conteneur p{
    font-size: 1.5rem;
}

.hero button{
    align-self: center;
    width: 315px;
}

/*CONTENU*/

.circuits{
    background-color: #222;
    padding: 100px 0;
}

.circuits .box{
    padding-bottom: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    max-width: 66.6667%;
    margin: auto;
}

.circuits .conteneur-cartes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.circuits .carte{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;

    padding: 20px 20px 40px 20px;
    background-color: #fff;
}

.circuits .avecCoin{
    position: relative;
}

.circuits .coin{
    position: absolute;
    top: -45px;
    right: -50px;
}

.circuits .carte p{
    color: #000;
}

.circuits .carte button{
    align-self: center;
    margin-top: auto;
}

/*FOOTER*/

.footer{
    text-align: center;
    color: #000;

    padding: 50px 0;
}

.footer .medias-sociaux{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    list-style: none;

    padding: 0 0 60px;
    margin: 0;
}

.footer .rond{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90px;
    width: 90px;

    background-color: #D300B7;
    color: #fff;

    border-radius: 50vh;

    font-size: 3.5rem;
}

.footer .rond:hover{
    background-color: #000;
}

/*------------------------------------------------------------------------------
   Aide stylistique
------------------------------------------------------------------------------*/

.modal{
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;

    display: none;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
}

.fenetre{
    background-color: #fff;
    font-weight: bold;
    color: #000;

    max-height: 80%;

    padding: 185px 270px;

    border-radius: 20px;
}

.modal.visible{
    display: flex;
}